extends ../components/base/layout

block variables
  - const title = "Список страниц"

block main
  style
    include ../../sass/inline/sitemap.css

  -
    const pages = [
      {
        name: "Главная — index.html",
        src: "index.html"
      },
      {
        name: "Локация — location-page.html",
        src: "location-page.html"
      },
      {
        name: "Хабовая страница — hub-page.html",
        src: "hub-page.html"
      },
            {
        name: "Карточка — card-page.html",
        src: "card-page.html"
      },
      {
        name: "Статья — article-page.html",
        src: "article-page.html"
      },
      {
        name: "Новости — news-page.html",
        src: "news-page.html"
      },
      {
        name: "Текстовая страница — text-page.html",
        src: "text-page.html"
      },
      {
        name: "Страница 404 — 404-page.html",
        src: "404-page.html"
      },
      {
        name: "Мой аккаунт — account-page.html",
        src: "account-page.html"
      },
      {
        name: "Модальные окна — ui-kit.html",
        src: "ui-kit.html"
      },
    ]

  main
    .sitemap
      .container
        img(src="./img/svg/logo-header.svg", width="300", alt="Логотип проекта")
        h1 Список страниц
        ol
          each page in pages
            li
              if page.id
                label(for=page.id)
                  span!= page.name
                input.visually-hidden(type="checkbox", checked=true, id=page.id)
                div
                  ul
                    each item in page.innerList
                      li
                        a(href= item.src)= item.name
              else
                a(href= page.src)= page.name
